<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
</head>
<body>
<div style="text-align: center; width: 500px; margin-right: auto; margin-left: auto">
    <h1>Login</h1>
    <form action="/login" method="post">
        ID: <input style="width: 400px" type="text" name="username" id="username">
        Password: <input style="width: 400px" type="password" name="password" id="password">
        <p th:if="${loginErrorMsg}" th:text="${loginErrorMsg}"></p>
        <input style="margin-left: 160px;" type="submit" value="Login">
    </form>
</div>
</body>
</html>
