<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 수정 폼</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
</head>
<body>
<form th:action="@{/post/update/{id}(id=${postInfoDto.id})}" method="post" th:object="${postInfoDto}">
    <div>
        <label th:for="title">제목</label>
        <input type="text" th:field="*{title}">
    </div>

    <div>
        <label th:for="content">내용</label>
        <input type="text" th:field="*{content}">
    </div>

    <button type="submit">글 수정</button>
</form>
</body>
</html>
